extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Aaron Gibson
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | Hello! I am an aspiring full stack JavaScript developer. I have always had a passion for web development
            | the moment I learned how to make basic HTML pages. I have come from designing and maintaining my middle school's
            | website to creating full stack web applications and websites using JavaScript, Node.js, HTML, CSS, and all the
            | wonderful frameworks others have created. I am currently a Senior Quality Specialist employed at Fidelity Investments
            | but wish to make a transition to my hobby and passion, coding!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li JavaScript
          li Node.js
          li HTML
          li CSS
          li React
        h6 Contact Info
        ul
          li 
            a(href='mailto:aarongibson86@gmail.com') aarongibson86@gmail.com
            //- I don't have social media so this section is bare.
        a.button.expanded(href='https://github.com/awgibson/') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  